<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS First Application</title>
</head>
<body>
    <h1>Sample Application</h1>

    <div ng-app="">

        <p>Enter your Name: <input type="text" ng-model="model"></p>
        <p>Enter you age: <input type="text" ng-model="age"></p>

        <p>Hello <span ng-bind="model"></span>!</p>
        <p>You age is <span ng-bind="age"></span>.</p>


    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>

</body>
</html>