<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS First Application</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <div class="header">
        <h1>Sample Application</h1>
    </div>

    <div class="container">
        <div ng-app="myApp" ng-controller="myController">
            <p>Enter your Name: <input type="text" ng-model="name"></p>
            <input type="button" ng-click="alertMe()" name="btname" value="Alert">
            <p>Hello <span ng-bind="name"></span>!</p>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        angular.module("myApp", []).controller('myController', function($scope) {
            $scope.alertMe = function () {
                if (!$scope.name) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Please enter your name before clicking the button.',
                        confirmButtonColor: '#dc3545' // Red color for the button
                    });
                } else {
                    Swal.fire({
                        title: 'Hello ' + $scope.name + '!',
                        text: 'The field is not blank.',
                        icon: 'success',
                        confirmButtonColor: '#dc3545' // Red color for the button
                    });
                }
            };
        });
    </script>
</body>
</html>
